# Template from:
# https://github.com/github/gitignore/blob/master/Autotools.gitignore

.deps
build*/
subprojects/*
!subprojects/*.wrap
/test/utest
/test-driver
phosphor-ledmanager
led-gen.hpp
fault-monitor/phosphor-fru-fault-monitor
