[Unit]
Description=Phosphor LED Group Management Daemon
Before=mapper-wait@-xyz-openbmc_project-led-groups.service
After=phosphor-ledcontroller.service

[Service]
Restart=always
ExecStart=/usr/libexec/phosphor-led-manager/phosphor-ledmanager
SyslogIdentifier=phosphor-ledmanager
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy=multi-user.target
