[Unit]
Description=Phosphor LED Group Management Daemon
Before=mapper-wait@-xyz-openbmc_project-led-groups.service
After=phosphor-ledcontroller.service

[Service]
Restart=on-failure
ExecStart=/usr/libexec/phosphor-led-manager/phosphor-ledmanager
SyslogIdentifier=phosphor-ledmanager
Type=dbus
BusName=xyz.openbmc_project.LED.GroupManager

[Install]
WantedBy=multi-user.target
