[Unit]
Description=Phosphor Sysfs - Add LED
After=phosphor-ledcontroller.service

[Service]
ExecStart=/usr/libexec/phosphor-led-sysfs/add-led-action -p /sys/class/leds/%i
Type=oneshot

[Install]
WantedBy=multi-user.target
